<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">

<insert id="insertBoard" parameterType="com.project.board.Board">
		insert into board(userId, subject, content)
		 values(#{userId}, #{subject}, #{content}) 
	</insert>
	
		<sql id="where-list">
	  <if test="searchKey=='userName'">
	      userName=#{searchValue}
	  </if>
	  <if test="searchKey=='subject'">
	      subject LIKE CONCAT('%', #{searchValue}, '%')
	  </if>
	  <if test="searchKey=='content'">
	      INSTR(content, #{searchValue}) &gt; 0 
	  </if>
	  <if test="searchKey=='created'">
	      DATE_FORMAT(created, '%Y-%m-%d') = #{searchValue}
	  </if>
	</sql>
	
	
	<select id="dataCount" resultType="Integer"
	           parameterType="map">
	    SELECT ifnull(COUNT(*), 0) FROM board b
	    JOIN member m ON b.userId  = m.userId
	    <where>
	    	<if test="searchValue!=null and searchValue!='' ">
	    		<include refid="where-list"/>
	    	</if>
	    </where>
	</select>
<!-- 	
	<select id="replyCount" resultType="Integer" parameterType="map">
		SELECT ifnull(COUNT(*), 0) from board b
		JOIN bbsreply r ON r.num = b.num
		where r.num = b.num
		
	
	</select> -->
	
	
	

<!-- <select id="listBoard" parameterType="map" resultType="com.project.board.Board">

select num, b.userId, subject, userName, content, DATE_FORMAT(created, '%Y-%m-%d') AS created, hitCount
from board b
Join member m ON b.userId = m.userId 
 <where>
		<if test="searchValue!=null and searchValue!='' ">
			 <include refid="where-list"/>
		</if>
</where>
ORDER BY num DESC
LIMIT #{start}, 10

</select> -->

<select id="listBoard" parameterType="map" resultType="com.project.board.Board">

select nb.num, userId, subject, userName, content, DATE_FORMAT(created, '%Y-%m-%d') AS created, hitCount, ifnull(replyCount, 0) AS replyCount 
from (
	(
		SELECT b.num, b.userId, userName, subject, b.created, hitCount, content
		FROM board b
		JOIN member m ON b.userId = m.userId
	)nb
	LEFT OUTER JOIN
	(
	SELECT num, COUNT(*) replyCount 
	FROM bbsreply GROUP BY num 
	)nc
	ON nb.num = nc.num
)
 <where>
		<if test="searchValue!=null and searchValue!='' ">
			 <include refid="where-list"/>
		</if>
</where>
ORDER BY num DESC
LIMIT #{start}, 10
</select>




  <select id="readBoard" parameterType="Integer"
               resultType="com.project.board.Board">
		SELECT num, b.userId, subject, content, userName,DATE_FORMAT(created, '%Y-%m-%d') AS created,hitCount
		FROM board b
		JOIN member m ON b.userId = m.userId
		WHERE num=#{num}
   </select>

    <update id="updateHitCount" 
                  parameterType="Integer">
       UPDATE board SET hitCount=hitCount+1
                 WHERE num=#{num}
    </update>
    
<select id="nextReadBoard" parameterType="map" resultType="com.project.board.Board" >
			SELECT num
			       FROM board
                    <where>
                         <if test="searchValue != null and searchValue != '' ">
			                  <include refid="where-list"/>
		                 </if>
		               <![CDATA[
		                 AND (num < #{num})
		                 ]]>
	                </where>
				ORDER BY num DESC
				LIMIT 1
</select>

<select id="preReadBoard" parameterType="map" resultType="com.project.board.Board" >
			SELECT num
			       FROM board
                    <where>
                         <if test="searchValue != null and searchValue != '' ">
			                  <include refid="where-list"/>
		                 </if>
		               <![CDATA[
		                 AND (num > #{num})
		                 ]]>
	                </where>
				ORDER BY num ASC
				LIMIT 1
</select>

	<delete id="deleteBoard" parameterType="Integer">
	
	 DELETE FROM board WHERE num = #{num}
	</delete>
	
	<update id="updateBoard" parameterType="com.project.board.Board">
	   UPDATE board SET subject=#{subject},
	  	content=#{content}
       			WHERE num=#{num}	                                
	</update>

<!-- 댓글입니다. -->
	<insert id="insertReply" parameterType="com.project.board.Reply">
			INSERT INTO bbsreply(num, userId, content, answer)
	  		VALUES (#{num},#{userId},#{content}, #{answer})
	</insert> 
	
	
	<select id="dataCountReply" parameterType="map" resultType="Integer">
		  SELECT ifnull(COUNT(*), 0) FROM bbsreply b
	    	where num=#{num} and answer=0
	</select>
	
	<select id="listReply" parameterType="map" resultType="com.project.board.Reply">

			select replyNum, r.num, r.userId, userName,
	            content, answer, DATE_FORMAT(r.created, '%Y-%m-%d') AS created,imageFilename
				from bbsreply r
				Join member m ON r.userId = m.userId
				Join photo p ON r.userId = p.userId
				where r.num=#{num} and answer=0
				ORDER BY replyNum DESC 
				LIMIT #{start}, 10
	</select>
	
	
	
	<delete id="deleteReply" parameterType="Integer">
		DELETE FROM bbsreply WHERE replyNum=#{replyNum}
	</delete>
	

	
</mapper>