<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="deal">


	<insert id="insertDeal" parameterType="com.project.deal.Deal">
	INSERT INTO deal (userId,userName,subject,price,instantPrice,discountRate,category1,category2,
					people,approveCheck,start_date,end_date,content,saveFilename,originalFilename
					,region1,region2,tag1,tag2,image1,image2,image3,image4,image5,image6,image7,image8,image9,image10,smillarNum)
 VALUES (#{userId},#{userName},#{subject},#{price},#{instantPrice},#{discountRate},#{category1}
 	,#{category2},#{people},1,#{start_date},
	#{end_date},#{content},#{saveFilename},#{originalFilename},#{region1},#{region2},#{tag1},#{tag2},#{image1},#{image2},#{image3},#{image4},#{image5},#{image6}
	,#{image7},#{image8},#{image9},#{image10},#{smillarNum});

	</insert>
	<insert id="insertNewDeal" parameterType="com.project.deal.Deal">
	INSERT INTO deal (userId,userName,subject,price,instantPrice,discountRate,category1,category2,
					people,approveCheck,start_date,end_date,content,saveFilename,originalFilename
					,region1,region2,tag1,tag2,image1,image2,image3,image4,image5,image6,image7,image8,image9,image10,smillarNum)
 VALUES (#{userId},#{userName},#{subject},#{price},#{instantPrice},#{discountRate},#{category1}
 	,#{category2},#{people},1,#{start_date},
	#{end_date},#{content},#{saveFilename},#{originalFilename},#{region1},#{region2},#{tag1},#{tag2},#{image1},#{image2},#{image3},#{image4},#{image5},#{image6}
	,#{image7},#{image8},#{image9},#{image10},LAST_INSERT_ID());

	</insert>

	<select id = "readDeal" parameterType="Int" resultType="com.project.deal.Deal">
		SELECT num,userId,userName,subject,price,instantPrice,discountRate,category1,category2,
					people,approveCheck,start_date,end_date,content,saveFilename,originalFilename
					,region1,region2,tag1,tag2,created,smillarNum FROM deal WHERE num=#{num}
	</select>
	
	<insert id="insertDealReply" parameterType="com.project.deal.Deal" >
	INSERT INTO dealReply (dealNum,userId,userName,content,imageFilename) 
	VALUES (#{dealNum},#{userId},#{userName},#{content},#{imageFilename});

	</insert>
	
	
	<!-- 댓글 리스트 -->
	<select id="listReply" resultType="com.project.deal.DealReply" 
	          parameterType="map">
		SELECT num,dealNum,userId,userName,created,content,imageFilename FROM dealReply WHERE dealNum= #{dealNum}
	</select>
	
	<insert id="insertDealLike" parameterType="com.project.deal.DealLike" >
	INSERT INTO dealLike (dealNum,userId,replyLike) 
	VALUES (#{dealNum},#{userId},#{replyLike});

	</insert>
	
  <select id="listBigCategory" resultType="com.project.deal.DealCategory">
      SELECT bcNum, bcName FROM bigcategory
   </select>
   
   <select id="listSmallCategory" parameterType="Integer" resultType="com.project.deal.DealCategory">
      SELECT smNum, bcNum, smName FROM smallcategory WHERE bcNum=#{bcNum}
   </select>
   
   
   <select id="listSmillarDeal" parameterType="Integer" resultType="com.project.deal.DealCategory">
       SELECT num,subject,category1,category2,smillarNum FROM deal WHERE category2=#{smNum}
   </select>
   
    <select id="listDealGraph" parameterType="Integer" resultType="com.project.deal.Deal">
       SELECT dealmonth,AVG(price) avgprice FROM (
SELECT price,(case substring(start_date,6,2)
	WHEN '12' then '12'
	WHEN '11' then '11'
	WHEN '10' then '10'
	WHEN '09' then '09'
	WHEN '08' then '08'
	WHEN '07' then '07'
	WHEN '06' then '06'
	WHEN '05' then '05'
	WHEN '04' then '04'
	WHEN '03' then '03'
	WHEN '02' then '02'
	WHEN '01' then '01'
	else 'error'
	end) AS dealmonth FROM deal WHERE smillarNum=#{smillarNum}
) tb GROUP BY dealmonth
   </select>


<insert id="updateDealIn" parameterType="com.project.deal.Deal">
INSERT  INTO dealjoin(dealNum, userId) VALUES (#{num},#{userId});
	</insert>
	<delete id = "updateDealOut" parameterType="com.project.deal.Deal">
	DELETE FROM dealjoin WHERE userId=#{userId} AND dealNum=#{num}
</delete>


	<select id="listDealIn" resultType="com.project.deal.Deal" 
	          parameterType="String">
		SELECT dealNum,userId FROM dealjoin WHERE userId=#{userId}
	</select>
	
	
	<update id="updateAlramCount" parameterType="com.project.deal.DealReply">
	update dealjoin set alarmNotice= @alarmTest+1 WHERE dealNum=#{dealNum} AND userId=#{userId}

	</update>
	<select id="alarmCount" resultType="Integer" 
	          parameterType="DealReply">
		SELECT dealNum,userId FROM dealjoin WHERE userId=#{userId}
	</select>




</mapper>