<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="letter">
	
	<!-- 쪽지 보내기 -->
	<insert id="insertLetter" parameterType="com.project.letter.Letter">
		
			INSERT INTO letter(content, sendUserId, receiveUserId, parent, sendDelete, receiveDelete
                 ) VALUES ( #{content}, #{sendUserId}, #{receiveUserId}, #{parent}, 'N','N')
                 
	</insert>
	
<!-- 	
 <sql id="where-list">
        <if test = "searchKey=='sendUserId' or searchKey=='receiveUserId'">
            sendUserId = #{searchValue} or receiveUserId = #{searchValue}
        </if>
       
       <if test="searchKey == 'sendDay'">
            DATE_FORMAT(sendDay, '%Y-%m-%d') = #{searchValue}
        </if>
    </sql>
	 -->
	<!-- 받은 쪽지 리스트 --><!-- 갯수 -->
   <!--  <select id="dataCountReceive" parameterType="map" resultType="Integer">
        SELECT NVL(COUNT(*), 0) 
                   FROM letter JOIN member
                   ON sendUserId=userId
                  <where>
	     	     	 receiveUserId = #{userId}
	     	          AND receiveDelete = 'N'
                  </where> 
    </select> -->
	
	<select id="listReceive" parameterType="String" resultType="com.project.letter.Letter">
		    SELECT num, content, sendUserId, receiveUserId, DATE_FORMAT(sendDay, '%Y-%m-%d') AS sendDay
             		,DATE_FORMAT(identifyDay, '%Y-%m-%d') AS identifyDay
                   FROM letter JOIN member ON sendUserId=userId
           
	     	      <where>
	     	      
	     	     receiveUserId = #{userId}
	     	      </where>
	     	      
	     	      
	     	      
	     	            <!-- <if test="searchValue!=null and searchValue!='' ">
	     	                <include refid="where-list"/>
	     	             </if> -->
	     	          <!--  receiveUserId = #{userId} -->
	     	       <!--       AND receiveDelete = 'N' -->
	              
	     <!--            ORDER BY num DESC -->

<!-- 	<![CDATA[
	        ) tb WHERE ROWNUM <= #{end}
		) WHERE rnum >= #{start}
	]]> --> 
    </select>

	 <!-- 보낸 쪽지 리스트 --><!-- 밑에는 개수라서 일단은 신경노 -->
    <!-- <select id="dataCountSend" parameterType="map" resultType="Integer">
        SELECT NVL(COUNT(*), 0) 
                   FROM note JOIN member
                   ON receiveUserId=userId
                  <where>
	     	        
	     	          sendUserId = #{userId}
	     	          AND sendDelete = 'N'
                  </where> 
    </select> -->
    
    <select id="listSend" parameterType="String" resultType="com.project.letter.Letter">
	
		 
			     SELECT num, content, sendUserId, receiveUserId, DATE_FORMAT(sendDay, '%Y-%m-%d') AS sendDay
             		, DATE_FORMAT(identifyDay, '%Y-%m-%d') AS identifyDay
                   FROM letter JOIN member ON receiveUserId=userId
                    <where>
	     	    	sendUserId = #{userId}
	     	      </where>
    
	     	             <!-- <if test="searchValue!=null and searchValue!='' ">
	     	                  <include refid="where-list"/>
	     	              </if> -->
	     	            <!--   sendUserId = #{userId} -->
	     	             <!--  AND sendDelete = 'N' -->
	           
	           <!--      ORDER BY num DESC -->
	
<!-- 	<![CDATA[
	        ) tb WHERE ROWNUM <= #{end}
		) WHERE rnum >= #{start}
	]]> -->
    </select>
	
	
	 <!-- 쪽지를확인상태로변경 --> 
   <update id="updateIdentifyDay" parameterType="Integer">
        UPDATE letter SET identifyDay = now()
                 WHERE num=#{num} AND identifyDay IS NULL
    </update> 
</mapper>