<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">


	<insert id="insertMember" parameterType="com.project.member.Member">
	INSERT INTO member (userId, userPwd, userName, birth,tel,addr,cardNum,cardPwd,email,businessNum,gender ) 
				VALUES (#{userId},#{userPwd}, #{userName} ,#{birth},#{tel},#{addr},#{cardNum},#{cardPwd} ,#{email},#{businessNum},#{gender} )
		
	</insert>


	<select id = "readMember" parameterType="String" resultType="com.project.member.Member">
		SELECT userId, userPwd, userName,birth,tel,email,addr,created_date,modify_date
		,businessNum,success_money,success_count,badReport,cardNum,cardPwd 
		FROM member
		WHERE userId=#{userId}
	</select>
	
	
	<insert id="insertPhoto" 
	      parameterType="com.project.member.Photo">
	    INSERT INTO photo( userId,  imageFilename)
	      VALUES ( #{userId}, #{imageFilename})
	</insert>
	
	<select id="readPhoto" parameterType="String"
	      resultType="com.project.member.Photo">
	SELECT  imageFilename
			FROM photo
	             WHERE userId=#{userId}
	</select>
	
	<select id="listInPeople" parameterType="Integer"
	      resultType="com.project.member.Photo">
SELECT * FROM photo WHERE userID IN (select userId from dealjoin WHERE dealNum=#{num})
	</select>


	<!-- 가격흥정  -->
	<select id="listBusiness" resultType="com.project.member.Member" parameterType="map">
	SELECT m.userId,userName,tel,email,addr,businessNum, imageFilename FROM member m
	JOIN photo p ON p.userId=m.userId
	WHERE businessNum NOT IN('0')
	</select>
		
</mapper>