<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="qna">

<insert id="insertQna" parameterType="com.project.qna.Qna">
	INSERT INTO qna(userId,subject,content) VALUES (#{userId},#{subject}, #{content})
</insert>

<sql id="where-list">
 	<if test = "searchKey == 'userId'">
		q.userId = #{searchValue}
	</if>
	<if test="searchKey == 'subject'">
		subject LIKE CONCAT('%', #{searchValue}, '%')
	</if>
	<if test="searchKey == 'content'">
		INSTR(content, #{searchValue}) &gt; 0
	</if>
	<if test="searchKey == 'created'">
		DATE_FORMAT(q.created, '%Y-%m-%d') = #{searchValue}
	</if>
</sql>
   
<select id="dataCount" resultType="Integer" parameterType="map">
    SELECT IFNULL(COUNT(*),0) FROM qna q
    <where>
  	<if test="searchValue!=null and searchValue != '' ">
  	      <include refid="where-list"/>
  	</if>
  </where>
</select>

<select id="listQna" resultType="com.project.qna.Qna" parameterType="map">
SELECT q.num, q.userId, subject,content,DATE_FORMAT(q.created, '%Y-%m-%d') AS created,imageFilename
FROM qna q
LEFT JOIN photo p ON p.userId=q.userId
<where>
	<if test="searchValue != null and searchValue !='' ">
		<include refid="where-list"/>
	</if>
</where>
ORDER BY q.num DESC
LIMIT #{start},10
</select>

<update id="updateHitCount" parameterType="Integer">
UPDATE qna SET hitCount=hitCount+1 WHERE num = #{num}
</update>


<insert id="insertReply" parameterType="com.project.qna.Qna">
INSERT INTO qna_reply(num,userId,content) VALUES (#{num},#{userId},#{content})
</insert>

<select id="listReply" resultType="com.project.qna.Qna" parameterType="Integer">
SELECT replyNum,qr.num,qr.userId,qr.content
FROM qna_reply qr
JOIN member m ON qr.userId=m.userId
JOIN qna q ON qr.num=q.num
WHERE qr.num=#{num}
</select>

<delete id="deleteQna" parameterType="Integer">
DELETE FROM qna WHERE num = #{num}
</delete>

<select id="rankHitCount" resultType="com.project.qna.Qna" parameterType="map">
select q.num, q.subject,qr.content,hitCount 
from qna_reply qr 
join qna q on q.num=qr.num
order by hitCount DESC
LIMIT 0, 10
</select>
</mapper>